<h1>登録内容の確認</h1>

<%=form_with model: @task, local: true do |f|%>

<table class="table table-hover">
  <tbody>
    <tr>
      <th><%=Task.human_attribute_name(:name)%></th>
      <td><%=@task.name%></td>
      <%=f.hidden_field :name%>
    </tr>

    <tr>
      <th><%=Task.human_attribute_name(:description)%></th>
      <td><%=simple_format(@task.description)%></td>
      <%=f.hidden_field :description%>
    </tr>

    <tr>
      <th><%=Task.human_attribute_name(:note)%></th>
      <td><%=simple_format(@task.note)%></td>
      <%=f.hidden_field :note%>
    </tr>

    <tr>
      <th><%=Task.human_attribute_name(:deadline)%></th>
      <td><%=@task.deadline%></td>
      <%=f.hidden_field :deadline%>
    </tr>
  </tbody>
</table>
<%=f.submit '戻る', name: 'back', class: 'btn btn-secondary mr-3'%>
<%=f.submit '登録', class: 'btn btn-primary'%>
<%end%>