<h1>タスクの新規登録</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧', tasks_path, class:'nav-link' %>
</div>

<%if @task.errors.present?%>
  <div class="alert alert-danger">
    <ul id="error_explanation">
      <% @task.errors.full_messages.each do |message|%>
        <li><%=message%></li>
      <%end%>
    </ul>
  </div>
<%end%>
  
<%=form_with model: @task,local: true, url: confirm_new_task_path do |f|%>
  <div class="form-group">
    <%=f.label :name%>
    <%=f.text_field :name, class: 'form-control', id:'task_name'%>
  </div>
  
  <div class="row">
      <div class="form-group col-sm-6">
          <label for="name1">期限</label>
          <input type="text" class="form-control datetimepicker-input" id="datetimepicker" 
                              data-toggle="datetimepicker" data-target="#datetimepicker"/>
      </div>
　</div>

  <div class="form-group">
    <%=f.label :description%>
    <%=f.text_area :description, rows:5, class: 'form-control', id:'task_descriprion'%>
  </div>
  <div class="form-group">
    <%=f.label :note%>
    <%=f.text_area :note, rows:5, class: 'form-control', id:'task_note'%>
  </div>
  <%=f.submit '確認', class:'btn btn-primary'%>
<%end%>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ja.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker();
    });
</script>